

.slider_b_radius{
    border-radius: 15px;
    background-color: #FCEAE8;
}
.dollar_color{
    color:#FF1E75 ;
}
.single_gutter img{
    width: 100px;
    height: auto;
}
.show_item{
    border-radius: 10px;
}